:root {
    --bg-color: #FAFAFA;
    --navbar-bg: #FFE3AE;
    --sidebar-bg: rgb(18, 23, 30);
    --sidebar-hover-bg: beige;
    --sidebar-text-color: white;
    --sidebar-hover-text: black;
    --arrow-bg: dimgrey;
    --arrow-hover-bg: rgb(218, 218, 218);
    --arrow-hover-color: #12171e;
    --transition-speed: 0.5s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Navbar */
.navbar {
    z-index: 2;
    /* Asegura que esté encima del sidebar */
    position: absolute;
    width: 100vw;
}

/* */


/* SideBar */
.side-bar {
    width: 275px;
    height: 100vh;
    position: fixed;
    padding-top: 80px;
    z-index: 1;
    background-color: var(--sidebar-bg);
    transition: all 0.5s ease;
}

.side-bar .nav-link {
    color: var(--sidebar-text-color);
    text-align: left;
    margin: 10px;

    transition: all 0.5s ease;
}

.side-bar .nav-link:hover {
    color: var(--sidebar-hover-text);
    background-color: var(--sidebar-hover-bg);
    margin-right: 10px;
    border-radius: 10px;
}

.side-bar .nav-item {
    font-size: 16px;
}

/* --------- */

/* Flecha del SideBar a la izquierda */
.side-bar .fa-angles-right,
.side-bar .fa-angles-left {
    color: var(--sidebar-text-color);
    padding: 10px;
    margin-bottom: 5px;
    background-color: var(--arrow-bg);
    border-radius: 10%;
    transition: all 0.5s ease;
    cursor: pointer;
}

.side-bar .fa-angles-left:hover,
.side-bar .fa-angles-right:hover {
    background-color: var(--arrow-hover-bg);
    color: var(--arrow-hover-color);
}

/* ------------- */

.side-bar .fa-angles-right {
    margin-left: 25%;
}

.side-bar .fa-angles-left {
    margin-left: 80%;
}

.side-bar .nav .fa-solid {
    font-size: 1.2rem;
    padding-right: 5px;
}


.side-bar.active {
    width: 70px;
    transition: all 0.5s ease;
}

.side-bar.active .nav-item {
    display: none;
}

.side-bar .nav .tooltip {
    display: none;
}